$lightBlue: #a8dadc;
$textColor: #1d3557;

html {
    background-color: #264653;
}

p {
    font-size: 20px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: calc(15px + (53 - 15) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 0;
    color: #F1FAEE;
}

nav {

    display: grid;
    grid-template-columns: max-content max-content;
    align-items: baseline;

    .home-link {
        display: block;
        background-color: #E76F51;
        margin-top: 4vh;
        margin-left: 3vw;
        font-size: 25px;
        font-family: "Sintony", sans-serif;
        text-decoration: none;
        color: #000000;
        border-radius: 65px;
        height: max-content;
        padding: 5px 4vw;
        width: max-content;
        text-align: center;
        height: max-content;
    }

    .lab-link {
        background-color: #F4A261;
        display: block;
        margin-top: 4vh;
        margin-left: 3vw;
        font-size: 25px;
        font-family: "Sintony", sans-serif;
        text-decoration: none;
        color: #000000;
        border-radius: 65px;
        height: max-content;
        padding: 5px 4vw;
        width: max-content;
        text-align: center;
        height: max-content;
    }

}

.heading-one {
    margin: 4vh 3vw;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vh 3vh;
    padding: 1rem 3vw;

    .home-grid-item {
        background-color: #E9C46A;
        height: max-content;
        padding: 10px;
        border-radius: 40px;

        .img {
            width: 100%;
            height: 20vh;
            background-color: lightgoldenrodyellow;
            border-radius: 25px;
        }

        h3 {
            font-family: "Sintony", sans-serif;
            font-weight: 300;
            font-size: 1.75vw;
        }

        p {
            font-family: "Cantarell";
            font-size: 1vw;
        }

        a {
            font-family: "Cantarell";
            padding: 10px;
            text-decoration: none;
            color: #000000;
            text-align: center;
        }

        .skills {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;

            p {
                background-color: #F4A261;
                text-align: center;
                padding: 1vh 0;
                border-radius: 30px;
            }
        }

        .links {
            display: grid;
            grid-template-rows: max-content max-content;
            grid-gap: 5px;

            a {
                background-color: #2A9D8F;
                border-radius: 30px;
                height: min-content;
                font-size: 20px;
            }
        }
    }
}