html {
  background-color: #264653;
}

p {
  font-size: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: calc(15px + (53 - 15) * ((100vw - 300px) / (1600 - 300)));
  margin-top: 0;
  color: #F1FAEE;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

nav .home-link {
  display: block;
  background-color: #E76F51;
  margin-top: 4vh;
  margin-left: 3vw;
  font-size: 25px;
  font-family: "Sintony", sans-serif;
  text-decoration: none;
  color: #000000;
  border-radius: 65px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px 4vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  height: max-content;
}

nav .lab-link {
  background-color: #F4A261;
  display: block;
  margin-top: 4vh;
  margin-left: 3vw;
  font-size: 25px;
  font-family: "Sintony", sans-serif;
  text-decoration: none;
  color: #000000;
  border-radius: 65px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px 4vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  height: max-content;
}

.heading-one {
  margin: 4vh 3vw;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3vh 3vh;
  padding: 1rem 3vw;
}

main .home-grid-item {
  background-color: #E9C46A;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
  border-radius: 40px;
}

main .home-grid-item .img {
  width: 100%;
  height: 20vh;
  background-color: lightgoldenrodyellow;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: 30% 10%;
  background-size: cover;
}

main .home-grid-item h3 {
  font-family: "Sintony", sans-serif;
  font-weight: 300;
  font-size: 1.75vw;
}

main .home-grid-item p {
  font-family: "Cantarell";
  font-size: 1vw;
}

main .home-grid-item a {
  font-family: "Cantarell";
  padding: 10px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

main .home-grid-item .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
}

main .home-grid-item .skills p {
  background-color: #F4A261;
  text-align: center;
  padding: 1vh 0;
  border-radius: 30px;
}

main .home-grid-item .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  grid-gap: 5px;
}

main .home-grid-item .links a {
  background-color: #2A9D8F;
  border-radius: 30px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 20px;
}

.sec1 .img {
  background-image: url(../imgs/dashboard.png);
}

.sec2 .img {
  background-image: url(../imgs/success.png);
}

.sec3 .img {
  background-image: url(../imgs/morality.png);
}

.sec4 .img {
  background-image: url(../imgs/web-dev.jpeg);
}

.sec5 .img {
  background-image: url(../imgs/this-site.png);
}

footer h1 {
  text-align: right;
  margin-right: 3em;
}
/*# sourceMappingURL=lab.css.map */