// The Variables!!
$lightBlue: #a8dadc;
$textColor: #1d3557;

//TODO All VARIABLES...MOBILE FOR EVERYTHING...RESPONSIVE TYPOGRAPHY

body {
  height: 96vh;
  margin: 0;
  padding: 2vh 2vw;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: calc(30px + (100 - 40) * ((100vw - 300px) / (1600 - 375)));
  margin-top: 0;
  color: $textColor;
}

h3 {
  font-family: "Sintony", sans-serif;
  font-weight: 300;
  font-size: calc(25px + (80 - 30) * ((100vw - 300px) / (1600 - 375)));
  color: $textColor;
}

div {
  font-family: "Cantarell", sans-serif;
  color: $textColor;
}

.level2 {
  height: 30vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10fr 4fr;

  div {
    background-color: lightcoral;
    background-image: url(../imgs/KauaiSeniorPortraits-55.JPG);
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size: cover;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    align-self: center;
    margin-top: -40%;
  }

  h3 {
    width: 100%;
    margin: 0;
  }
}



.level3 {
  display: grid;
  grid-template-columns: 34vw 12vw 6vw 38vw;
  grid-template-rows: 11vh 11vh 11vh;
  grid-gap: 2vw;
  padding: 5vh 5vw;
  grid-template-areas: "sec1 sec1 sec1 sec2""sec3 nil sec4 sec4""sec5 sec5 sec6 sec6";
  padding: 0;
  justify-content: space-evenly;

  a {
    background-color: $lightBlue;
    color: $textColor;
    border-radius: 65px;
    height: 100%;
    text-decoration: none;
    width: max-content;
    text-align: center;

    h5 {
      font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
      margin: 0;
      margin-top: 10px;
      font-weight: 500;
      padding: 0 50px;
      font-family: "Sintony";
    }
  }

  @for $i from 1 through 6 {
    .sec#{$i} {
      grid-area: sec#{$i};
    }
  }

  .sec6 {
    background-color: #264653;
    color: #e9c46a;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 780px) {
  .level2 {
    margin-top: -15%;
  }
}

@media only screen and (max-width: 1200px) {
  .level2 {
    height: 30vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10fr 4fr;

    div {
      background-color: lightgoldenrodyellow;
      width: 25vw;
      height: 25vw;
      border-radius: 50%;
      align-self: center;
      margin-top: -20%;
      background-size: 200%;
      background-position: 47% 30%;
    }

    h3 {
      width: 100%;
      margin: 0;
    }
  }

  .level3 {
    display: grid;
    grid-template-columns: 34vw 12vw 6vw;
    grid-gap: 2vw;
    padding: 5vh 5vw;
    padding: 0;
    justify-content: space-evenly;

    a {
      background-color: $lightBlue;
      color: $textColor;
      border-radius: 65px;
      height: max-content;
      text-decoration: none;
      width: max-content;
      text-align: center;

      h5 {
        font-size: calc(10px + (55 - 30) * ((100vw - 300px) / (1000 - 300)));
        margin: 0;
        margin-top: 10px;
        font-weight: 500;
        padding: 0 30px;
        font-family: "Sintony";
        padding-bottom: 10px;
      }
    }

    @for $i from 1 through 5 {
      .sec#{$i} {
        grid-area: sec#{$i};
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .level2 {
    height: 30vh;
    display: grid;
    grid-template-rows: 20vh 5vh;
    grid-template-columns: 100%;
    grid-template-areas: "pic""txt";

    div {
      background-color: lightgreen;
      width: 50vw;
      height: 50vw;
      border-radius: 50%;
      align-self: center;
      margin-top: 10%;
      grid-area: pic;
      margin-left: 25vw;
      margin-bottom: 50px;
    }

    h3 {
      width: 100%;
      margin: 0;
      grid-area: txt;
      text-align: center;
      margin-top: 30px;

    }
  }

  .level3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh;
    grid-gap: 20px;
    grid-template-areas: "sec1 sec1 sec1""sec2 sec2 sec2""sec3 sec3 sec3""sec4 sec4 sec4""sec5 sec5 sec5";
    padding: 0;
    justify-content: space-around;
    margin-right: 4vw;
    margin-top: 10vh;
    margin-left: 4vw;

    a {
      background-color: $lightBlue;
      color: $textColor;
      border-radius: 65px;
      width: max-content;
      text-decoration: none;
      text-align: center;

      h5 {
        font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (600 - 375)));
        margin: 0;
        margin-top: 10px;
        font-weight: 500;
        padding: 0 50px;
        font-family: "Sintony";
        padding-bottom: 10px;
      }
    }

    @for $i from 1 through 5 {
      .sec#{$i} {
        grid-area: sec#{$i};
      }
    }

    .sec6 {
      margin-right: 10vw;
      margin-bottom: 10vh;
    }
  }
}

@media screen and (min-width: 420px) and (max-width: 1200px) {
  .level2 {
    div {
      margin-top: 25%;
    }

    h3 {
      margin-top: 25%;
    }
  }

  .level3 {
    margin-top: 15vh;
  }
}

@media screen and (min-width: 555px) and (max-width: 1200px) {
  .level3 {
    margin-top: 20vh;
  }
}

@media screen and (min-width: 757px) and (max-width: 1200px) {
  .level3 {
    margin-top: 25vh;
  }
}

nav {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: baseline;

  .homeLink {
    display: block;
    background-color: #f2a5a4;
    margin-top: 4vh;
    margin-left: 3vw;
    font-size: 30px;
    font-family: "Sintony", sans-serif;
    text-decoration: none;
    color: #1d3557;
    border-radius: 65px;
    height: max-content;
    padding: 5px 4vw;
    width: max-content;
    text-align: center;
  }

  .current-link {
    display: block;
    background-color: $lightBlue;
    margin-top: 4vh;
    margin-left: 3vw;
    font-size: 25px;
    font-family: "Sintony", sans-serif;
    text-decoration: none;
    color: #1d3557;
    border-radius: 65px;
    height: max-content;
    padding: 5px 4vw;
    width: max-content;
    text-align: center;
  }
}

.main-heading {
  font-size: 60px;
}

.intro-one-div {
  margin-left: 10vw;
  width: 70vw;
  font-size: 30px;
  margin-top: 5vh;
  font-family: "Cantarell";

  p {
    margin: 0;
  }

  .dark {
    margin-left: 5vw;
  }
}

.intro-two-div {
  float: right;
  margin-right: 10vw;
  width: 70vw;
  font-size: 30px;
  margin-top: 10vh;
  font-family: "Cantarell";
  text-align: right;

  p {
    margin: 0;
  }

  .dark {
    float: right;
    margin-right: 5vw;
  }
}

.dark {
  height: 2vh;
  background-color: #457b9d;
  width: 40vw;
  border-radius: 30px;
}

.skills {
  width: 100%;
  float: right;
  margin-top: 10vh;

  .heading {
    margin: 0;
    font-size: 50px;
  }

  .skill-item {
    background-color: #f2a5a4;
    display: grid;
    grid-template-columns: 7fr 1fr;
    margin-left: -10%;
    padding-left: 11%;
    margin-bottom: 1vh;
    font-size: 30px;
    border-radius: 0 30px 30px 0;
    width: 80%;

    p {
      padding-left: 10%;
    }
  }

  .ninty-five {
    width: 95%;
  }

  .eighty-five {
    width: 85%;
  }

  .seventy {
    width: 70%;
  }

  .fifty {
    width: 50%;
  }

  .dark {
    margin-bottom: 3vh;
  }
}

.job-exp-div {
  float: left;
  width: 100%;

  h3 {
    margin-bottom: 0;
    font-size: 50px;
  }

  .jobs {
    width: 100%;
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 30vw;
    justify-content: space-around;
  }

  p {
    background-color: $lightBlue;
    border-radius: 30px;
    padding: 5% 10%;
    font-family: "Cantarell";
    font-size: 30px;
  }
}

.projects-div {
  float: left;
  width: 100%;

  h3 {
    margin-bottom: 0;
    font-size: 50px;
  }

  .dark {
    margin-bottom: 4vh;
  }

  .proj {
    width: 100%;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 20vw;
    justify-content: space-around;
  }

  .projElem {
    background-color: $lightBlue;
    border-radius: 30px;
    padding: 5% 10%;
    font-family: "Cantarell";
    font-size: 30px;
  }

  .projectElemA {
    background-color: #1d3557;
    color: #e9c46a;
    font-family: "Cantarell";
    font-size: 30px;
    text-decoration: none;
  }

  .lab {
    background-color: #1d3557;
    border-radius: 30px;
    padding: 5% 10%;
  }
}

.contact-div {
  float: left;
  width: 100%;
  margin-top: 10vh;

  p {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
}

footer {
  margin-top: 5vh;
  float: left;
  width: 100%;
  display: grid;
  grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
  justify-content: space-around;

  div {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .github {
    background-image: url(../imgs/github-icon.png);
    background-position: 50% 30%;
  }

  .email {
    background-image: url(../imgs/email-icon.jpg);
    background-position: 50%;
  }

  .insta {
    background-image: url(../imgs/insta-icon.jpg);
    background-position: 50%;
  }

  .LinkedIn {
    background-image: url(../imgs/linkedin-icon.png);
  }

  .dribbble {
    background-image: url(../imgs/dribbble.png);
    background-position: 60% 30%;
  }
}

div:hover {
  p {
    color: #264653;
  }
}

.contact-div {
  input {
    background-color: #f2a5a4;
    border-radius: 10px;
    margin-left: 40%;
    width: 20%;
    height: 5vh;
  }

  button {
    float: right;
    width: 20vw;
    height: 7vh;
    margin-right: 40vw;
    margin-top: 20px;
    background-color: $lightBlue;
    border: 0px solid black;
    border-radius: 15px;
    font-size: 25px;
    color: #1d3557;
  }

  margin-bottom: 5vh;
}