body {
  height: 96vh;
  margin: 0;
  padding: 2vh 2vw;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: calc(35px + (100 - 40) * ((100vw - 300px) / (1600 - 300)));
  margin-top: 0;
  color: #1d3557;
}

h3 {
  font-family: "Sintony", sans-serif;
  font-weight: 300;
  font-size: calc(25px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
  color: #1d3557;
}

div {
  font-family: "Cantarell", sans-serif;
  color: #1d3557;
}

.level2 {
  height: 30vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 10fr 4fr;
      grid-template-columns: 10fr 4fr;
}

.level2 div {
  background-color: lightcoral;
  background-image: url(../imgs/KauaiSeniorPortraits-55.JPG);
  background-repeat: no-repeat;
  background-position: 30% 30%;
  background-size: cover;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -40%;
}

.level2 h3 {
  width: 100%;
  margin: 0;
}

.level3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 34vw 12vw 6vw 38vw;
      grid-template-columns: 34vw 12vw 6vw 38vw;
  -ms-grid-rows: 11vh 11vh 11vh;
      grid-template-rows: 11vh 11vh 11vh;
  grid-gap: 2vw;
  padding: 5vh 5vw;
      grid-template-areas: "sec1 sec1 sec1 sec2" "sec3 nil sec4 sec4" "sec5 sec5 sec6 sec6";
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.level3 a {
  background-color: #a8dadc;
  color: #1d3557;
  border-radius: 65px;
  height: 100%;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

.level3 a h5 {
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
  padding: 0 50px;
  font-family: "Sintony";
}

.level3 .sec1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sec1;
}

.level3 .sec2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sec2;
}

.level3 .sec3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sec3;
}

.level3 .sec4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sec4;
}

.level3 .sec5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: sec5;
}

.level3 .sec6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sec6;
}

.level3 .sec6 {
  background-color: #264653;
  color: #e9c46a;
}

@media only screen and (max-width: 1200px) {
  .level2 {
    height: 30vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 10fr 4fr;
        grid-template-columns: 10fr 4fr;
  }
  .level2 div {
    background-color: lightgoldenrodyellow;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: -20%;
    background-size: 200%;
    background-position: 47% 30%;
  }
  .level2 h3 {
    width: 100%;
    margin: 0;
  }
  .level3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 34vw 12vw 6vw;
        grid-template-columns: 34vw 12vw 6vw;
    -ms-grid-rows: 11vh 11vh 11vh;
        grid-template-rows: 11vh 11vh 11vh;
    grid-gap: 2vw;
    padding: 5vh 5vw;
        grid-template-areas: "sec1 sec1 sec1 sec2" "sec3 nil sec4 sec4" "sec5 sec5 empty empty";
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .level3 a {
    background-color: #a8dadc;
    color: #1d3557;
    border-radius: 65px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-decoration: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
  }
  .level3 a h5 {
    font-size: calc(10px + (55 - 30) * ((100vw - 300px) / (1000 - 300)));
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    padding: 0 30px;
    font-family: "Sintony";
    padding-bottom: 10px;
  }
  .level3 .sec1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sec1;
  }
  .level3 .sec2 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: sec2;
  }
  .level3 .sec3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sec3;
  }
  .level3 .sec4 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: sec4;
  }
  .level3 .sec5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sec5;
  }
}

@media screen and (max-width: 780px) {
  .level2 {
    height: 30vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20vh 5vh;
        grid-template-rows: 20vh 5vh;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "pic" "txt";
  }
  .level2 div {
    background-color: lightgreen;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: -10%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pic;
    margin-left: 36.5vw;
  }
  .level2 h3 {
    width: 100%;
    margin: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: txt;
    text-align: center;
  }
  .level3 {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 34vw 12vw 6vw;
        grid-template-columns: 34vw 12vw 6vw;
    -ms-grid-rows: 11vh 11vh 11vh 11vh 11vh;
        grid-template-rows: 11vh 11vh 11vh 11vh 11vh;
    grid-gap: 2vw;
        grid-template-areas: "sec1 sec1 sec1" "sec2 sec2 sec2" "sec3 sec3 sec3" "sec4 sec4 sec4" "sec5 sec5 sec5";
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 4vw;
    margin-bottom: 2vw;
  }
  .level3 a {
    background-color: #a8dadc;
    color: #1d3557;
    border-radius: 65px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    text-decoration: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
  }
  .level3 a h5 {
    font-size: calc(10px + (50 - 30) * ((100vw - 300px) / (600 - 300)));
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    padding: 0 50px;
    font-family: "Sintony";
    padding-bottom: 10px;
  }
  .level3 .sec1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sec1;
  }
  .level3 .sec2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sec2;
  }
  .level3 .sec3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sec3;
  }
  .level3 .sec4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sec4;
  }
  .level3 .sec5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: sec5;
  }
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

nav .homeLink {
  display: block;
  background-color: #f2a5a4;
  margin-top: 4vh;
  margin-left: 3vw;
  font-size: 30px;
  font-family: "Sintony", sans-serif;
  text-decoration: none;
  color: #1d3557;
  border-radius: 65px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px 4vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

nav .current-link {
  display: block;
  background-color: #a8dadc;
  margin-top: 4vh;
  margin-left: 3vw;
  font-size: 25px;
  font-family: "Sintony", sans-serif;
  text-decoration: none;
  color: #1d3557;
  border-radius: 65px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5px 4vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

.main-heading {
  font-size: 60px;
}

.intro-one-div {
  margin-left: 10vw;
  width: 70vw;
  font-size: 30px;
  margin-top: 5vh;
  font-family: "Cantarell";
}

.intro-one-div p {
  margin: 0;
}

.intro-one-div .dark {
  margin-left: 5vw;
}

.intro-two-div {
  float: right;
  margin-right: 10vw;
  width: 70vw;
  font-size: 30px;
  margin-top: 10vh;
  font-family: "Cantarell";
  text-align: right;
}

.intro-two-div p {
  margin: 0;
}

.intro-two-div .dark {
  float: right;
  margin-right: 5vw;
}

.dark {
  height: 2vh;
  background-color: #457b9d;
  width: 40vw;
  border-radius: 30px;
}

.skills {
  width: 100%;
  float: right;
  margin-top: 10vh;
}

.skills .heading {
  margin: 0;
  font-size: 50px;
}

.skills .skill-item {
  background-color: #f2a5a4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  margin-left: -10%;
  padding-left: 11%;
  margin-bottom: 1vh;
  font-size: 30px;
  border-radius: 0 30px 30px 0;
  width: 80%;
}

.skills .skill-item p {
  padding-left: 10%;
}

.skills .ninty-five {
  width: 95%;
}

.skills .eighty-five {
  width: 85%;
}

.skills .seventy {
  width: 70%;
}

.skills .fifty {
  width: 50%;
}

.skills .dark {
  margin-bottom: 3vh;
}

.job-exp-div {
  float: left;
  width: 100%;
}

.job-exp-div h3 {
  margin-bottom: 0;
  font-size: 50px;
}

.job-exp-div .jobs {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45vw 45vw;
      grid-template-columns: 45vw 45vw;
  -ms-grid-rows: 30vw;
      grid-template-rows: 30vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.job-exp-div p {
  background-color: #a8dadc;
  border-radius: 30px;
  padding: 5% 10%;
  font-family: "Cantarell";
  font-size: 30px;
}

.projects-div {
  float: left;
  width: 100%;
}

.projects-div h3 {
  margin-bottom: 0;
  font-size: 50px;
}

.projects-div .dark {
  margin-bottom: 4vh;
}

.projects-div .proj {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 40vw;
      grid-template-columns: 40vw 40vw;
  -ms-grid-rows: 20vw;
      grid-template-rows: 20vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-div .projElem {
  background-color: #a8dadc;
  border-radius: 30px;
  padding: 5% 10%;
  font-family: "Cantarell";
  font-size: 30px;
}

.projects-div .projectElemA {
  background-color: #1d3557;
  color: #e9c46a;
  font-family: "Cantarell";
  font-size: 30px;
  text-decoration: none;
}

.projects-div .lab {
  background-color: #1d3557;
  border-radius: 30px;
  padding: 5% 10%;
}

.contact-div {
  float: left;
  width: 100%;
  margin-top: 10vh;
}

.contact-div p {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

footer {
  margin-top: 5vh;
  float: left;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 5vw 5vw 5vw 5vw;
      grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .github {
  background-image: url(../imgs/github-icon.png);
  background-position: 50% 30%;
}

footer .email {
  background-image: url(../imgs/email-icon.jpg);
  background-position: 50%;
}

footer .insta {
  background-image: url(../imgs/insta-icon.jpg);
  background-position: 50%;
}

footer .LinkedIn {
  background-image: url(../imgs/linkedin-icon.png);
}

footer .dribbble {
  background-image: url(../imgs/dribbble.png);
  background-position: 60% 30%;
}

div:hover p {
  color: #264653;
}

.contact-div {
  margin-bottom: 5vh;
}

.contact-div input {
  background-color: #f2a5a4;
  border-radius: 10px;
  margin-left: 40%;
  width: 20%;
  height: 5vh;
}

.contact-div button {
  float: right;
  width: 20vw;
  height: 7vh;
  margin-right: 40vw;
  margin-top: 20px;
  background-color: #a8dadc;
  border: 0px solid black;
  border-radius: 15px;
  font-size: 25px;
  color: #1d3557;
}
/*# sourceMappingURL=main.css.map */